.site-logo {
  width: 400px;
}

.home {
  .product {
    .product-image {
      width: 150px;
      height: 150px;
      padding: 15px;
    }

    .product-name {
      font-size: 3.0rem;
    }

    a:hover .product-image {
      border-color: @light-gray-blue;
      opacity: .7;
    }
  }
}
