.site-logo {
  width: 400px;
}

.home {
  .getting-started.btn {
    display: block;

    margin: 20px auto;
    width: 200px;

    font-size: 20px;
    background-color: @gray-blue;

    &:hover {
      background-color: @light-gray-blue;
    }
  }

  .product {
    padding-bottom: 20px;
    padding-top: 20px;

    .product-image {
      width: 150px;
      height: 150px;
      padding: 15px;
    }

    .product-name {
      font-size: 3.0rem;
    }

    a:hover .product-image {
      border-color: @light-gray-blue;
      opacity: .7;
    }
  }
}
