@import '_colors';
@import '_home';

html {
  font-size: 10px;
}

body {
  padding-top: 70px;
}

a {
  color: @gray-blue;
  text-decoration: none;

  &:hover {
    color: @light-gray-blue;
    text-decoration: none;
  }
}

.navbar {
  .brand img {
    height: 50px;
  }
}
