<header class="site-header">
  <div class="container">
    <div class="left">
      <a class="image-link brand" href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/assets/img/cumulus-branding.svg" />
      </a>
      <input id="docsearch-input" type="text" placeholder="Search documentation" />
    </div>
    <div class="right">
      <a class="header-link" href="{{site.baseurl}}/">Home</a>
      <nav class="dropdown">
        <span class="dropdown-title header-link">Modules</span>
        <ul class="dropdown-content">
          <li><a href="{{site.baseurl}}/modules/route53.html">Route53</a></li>
          <li><a href="{{site.baseurl}}/modules/iam.html">IAM</a></li>
          <li><a href="{{site.baseurl}}/modules/autoscaling.html">Autoscaling Groups</a></li>
          <li><a href="{{site.baseurl}}/modules/security-groups.html">Security Groups</a></li>
          <li><a href="{{site.baseurl}}/modules/elb.html">ELB</a></li>
          <li><a href="{{site.baseurl}}/modules/ec2.html">EC2</a></li>
          <li><a href="{{site.baseurl}}/modules/vpc.html">VPC</a></li>
          <li><a href="{{site.baseurl}}/modules/kinesis.html">Kinesis</a></li>
          <li><a href="{{site.baseurl}}/modules/cloudfront.html">CloudFront</a></li>
          <li><a href="{{site.baseurl}}/modules/s3.html">S3</a></li>
          <li><a href="{{site.baseurl}}/modules/sqs.html">SQS</a></li>
        </ul>
      </nav>
      <a class="image-link waffle" href="https://waffle.io/lucidsoftware/cumulus">
        <img src="{{site.baseurl}}/assets/img/waffle.svg" />
      </a>
      <a class="image-link github" href="https://github.com/lucidsoftware/cumulus">
        <img src="{{site.baseurl}}/assets/img/github-inverted.png" />
      </a>
    </div>
  </div>
</header>
