.highlight {
  margin: 0;
  padding: 10px 30px;

  overflow-x: auto;
  background-color: lighten($shakespeare, 45%);

  @include drop-shadow-1;

  .language-json {
    .p {
      color: $copper;
      text-shadow: 1px 1px rgba(0, 0, 0, .3);
    }

    .nt {
      color: darken($shadow-green, 20%);
    }
  }
}

.highlighter-rouge {
  padding: 2px;
  border-radius: 3px;

  background-color: lighten($pancho, 10%);
  color: $astral;
  word-wrap: break-word;
}

a .highlighter-rouge {
  background-color: transparent;
  color: $astral;

  transition: color .5s;

  &:hover {
    color: $pancho;
  }
}
