footer.site-footer {
  height: $site-footer-height;

  background-color: $blue-whale;
  color: white;
  line-height: $site-footer-height;
  text-align: center;

  @include drop-shadow-1-up;

  a {
    color: $copper;

    &:hover {
      color: $pancho;
    }
  }

  @media #{$footer-stop} {
    $vertical-footer-padding: 10px;
    line-height: ($site-footer-height - $vertical-footer-padding) / 2;
    padding-top: $vertical-footer-padding / 2;
  }
}
