.getting-started-content {
  .title-section {
    position: relative;

    height: 300px;

    background-color: $shadow-green;
    text-align: center;

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      margin: 0;

      font-family: 'Ubuntu';
      font-size: 54px;
      text-shadow: 4px 4px rgba(0, 0, 0, .2);
    }

    @media #{$small-stop} {
      h1 {
        font-size: 42px;
      }
    }
  }

  .getting-started-text {
    padding: 40px 0px;

    @media #{$large-stop} {
      padding: 40px 20px;
    }
  }
}
