.home {
  section.title-section {
    min-height: calc(95vh - #{$site-header-height});
    padding: 15vh 0;

    background-color: $shadow-green;
    text-align: center;

    .site-logo {
      position: relative;

      height: 300px;
      margin: auto;

      text-align: left;

      .image-container {
        position: absolute;
        left: 17%;
        top: 27%;

        img {
          width: 200px;
        }
      }

      h1 {
        position: absolute;

        width: 100%;

        color: $blue-whale;
        font-size: 150px;
        font-family: 'Ubuntu';
        text-align: center;
        text-shadow: 6px 6px rgba(0, 0, 0, .2);
      }
    }

    h3 {
      color: $copper;
      font-size: 28px;
      font-family: 'Ubuntu';
      text-shadow: 1px 1px rgba(0, 0, 0, .2);
    }

    @media #{$medium-stop} {
      .site-logo {
        height: 220px;

        .image-container {
          top: 23%;

          img {
            width: 120px;
          }
        }

        h1 {
          font-size: 100px;
        }
      }

      h3 {
        font-size: 22px;
      }
    }

    @media #{$small-stop} {
      .site-logo {
        height: 190px;

        .image-container {
          left: 6%;

          img {
            width: 100px;
          }
        }

        h1 {
          font-size: 80px;
        }
      }

      h3 {
        font-size: 20px;
      }
    }
  }

  hr {
    margin: 40px auto;
    width: 150px;

    border-color: $copper;
  }

  .modules {
    padding: 50px;

    h1#modules {
      margin: 0;

      font-size: 70px;
      text-align: center;
    }

    .row {
      padding: 30px 0;
    }

    .product {
      text-align: center;

      &:hover {
        .product-image {
          border-color: $copper;
          opacity: .8;
        }

        .product-name {
          color: $copper;
        }
      }

      .product-image {
        padding: 0px;
        width: 200px;

        border-radius: 100%;
        border: 5px solid $astral;
      }

      .product-name {
        font-size: 32px;
      }
    }

    @media #{$medium-stop} {
      h1#modules {
        font-size: 48px;
      }

      hr {
        margin: 30px auto;
      }

      .row {
        padding: 0;
      }

      .product {
        width: 100%;

        .product-name {
          margin-top: 5px;
        }
      }
    }

    @media #{$small-stop} {
      h1#modules {
        font-size: 32px;
      }

      .product {
        .product-image {
          width: 150px;
        }

        .product-name {
          font-size: 24px;
        }
      }
    }
  }

  .call-to-action {
    height: 500px;

    background-color: $shadow-green;

    .container {
      position: relative;

      height: 100%;
    }

    .cloud {
      position: absolute;
    }

    .cloud-left {
      left: 8%;
      top: 9%;

      width: 250px;
    }

    .cloud-left-2 {
      bottom: 9%;
      left: 29%;

      width: 150px;
    }

    .cloud-right {
      bottom: 32%;
      right: 0;

      width: 300px;
    }

    .btn {
      display: block;
      left: 20%;
      position: absolute;
      top: 40%;

      width: 60%;

      font-size: 48px;
      text-align: center;
    }

    @media #{$medium-stop} {
      height: 400px;

      .cloud-left { width: 200px; }
      .cloud-left-2 { width: 100px; }
      .cloud-right { width: 250px; }

      .btn {
        left: 15%;

        width: 70%;

        font-size: 40px;
      }
    }

    @media #{$small-stop} {
      height: 400px;

      .cloud-left { width: 150px; }
      .cloud-left-2 { width: 75px; }
      .cloud-right { width: 200px; }
    }

    .btn {
      font-size: 32px;
    }
  }
}
