$grid-total-columns: 12;

$site-header-height: 60px;

$site-footer-height: 60px;

// media vars
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// grid vars
$grid-horizontal-spacing: 3%;
$grid-vertical-spacing: $grid-horizontal-spacing;
