$grid-total-columns: 12;

$site-header-height: 60px;

$site-footer-height: 60px;

// media vars
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// grid vars
$grid-horizontal-spacing: 3%;
$grid-vertical-spacing: $grid-horizontal-spacing;

// media queries
$large-stop: "(max-width: #{$screen-lg + 50})";
$medium-stop: "(max-width: 768px)";
$small-stop: "(max-width: 500px)";
$search-stop: "(max-width: 660px)";
$footer-stop: "(max-width: 650px)";
$scroll-button-stop: "(max-width: 500px)";
