$blue-steel: #3D4752;
$blue-steel-dark: #212C35;
$blue-steel-text: #77818C;
$lucid-blue: #29AAE1;
$lucidchart-orange: #f78d1e;
$lucidchart-orange-light: lighten($lucidchart-orange, 10%);
$lucidchart-orange-selection: #fbcb99;
